<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <search>
        <processor patch:i="*[@type='Sitecore.ContentSearch.Client.Pipelines.Search.SearchContentSearchIndex, Sitecore.ContentSearch.Client']" type="Sitecore.Support.ContentSearch.Client.Pipelines.Search.SearchContentSearchIndex, Sitecore.Support.96901.181761" />
      </search>
    </pipelines>
  </sitecore>
</configuration>